:root{
    --dark-background: #0f0f0f;
    --contenedor1: #5a5a5a;
    --contenedor2: #6c6c6c;
    --decoration: red;
    --text: #cdcdcd;
}

*{
    margin: 0;
    padding: 0;
}

/*Clases Generales*/

/*{*/

button{
    background-color: var(--decoration);
    padding: 12px;
    color: var(--text);
    border: none;
    border-radius: 16px !important;
}

.txt-title, .txt-body{
    color: var(--text);
}

.txt-title{
    font-size: 30px;
    font-weight: bold;
}

.txt-body{
    font-size: 12px;
}

/*}*/

/*Navegación*/

/*{*/

nav{
    background-color: var(--dark-background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    position: fixed !important;
    width: 10%;
    height: 100%;
}

nav img{
    align-items: center;
}

.name{
    font-weight: bolder;
    font-size: 18px;
    overflow: auto;
    color: var(--text);
}

.navbar-nav .nav-link{
    color: inherit;
    text-align: center;
    font-size: 12px;
}

nav ul{
    padding-left: 20% !important;
}

/*}*/

/*Primer Contenedor*/

/*{*/

.prm-cont{
    background-color: var(--dark-background);
    color: var(--text);
    height: 790px;
    padding: 280px 400px 320px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prm-cont img{
    position: absolute;
    top: 0;
    padding-left: 10%;
}

.prm-cont .cont-title, 
.prm-cont .txt-title,
.prm-cont .txt-body{
    text-align: center;
}

.prm-cont .cont-title{
    color: var(--decoration);
    font-size: 16px;
}

.prm-cont .txt-title{
    font-size: 50px;
}

.prm-cont .txt-body{
    padding: auto 100px !important;
}

.prm-cont button{
    width: 15%;
    font-size: 12px;
}

/*}*/

/*Segundo contenedor*/
/*{*/

.sgd-cont{
    height: 790px;
}

.sgd-cont .prm-prt{
    background-color: var(--dark-background);
    height: 42%;
    display: flex;
    justify-content: center;
}

.sgd-cont .prm-prt div:nth-child(1){
    width: 50%;
}

.sgd-cont .prm-prt div:nth-child(2){
    width: 50%;
    padding-right: 20%;
}

.sgd-cont .prm-prt div p{
    padding-top: 12px;
    padding-bottom: 12px;
}

.sgd-cont .prm-prt div:nth-child(2) button{
    background-color: var(--dark-background);
    border: 1px solid var(--decoration);
    border-radius: 4px !important;
    font-size: 12px;
    padding: 10px 24px;
}

.sgd-cont .sgd-prt{
    background-color: var(--contenedores);
    height: 58%;
    text-align: center;
    padding-top: 30px;
}

/*.sgd-cont .sgd-prt p{
    padding: 24px; 
}/*Agregar para reducir el espacio del texto*/

.sgd-cont .sgd-prt .details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    padding-left: 15%;
    list-style-type: none;
}

.sgd-cont .sgd-prt .details li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 14px;
    width: 30%;
}

.sgd-prt .details .icon-cont{
    background-color: transparent;
    border: 1px solid var(--decoration);
    border-radius: 30px;
    width: 20%;
    height: 50%;
    margin-right: 30px;
}

.sgd-prt .details svg{
    width: 20px;
    color: var(--decoration);
    padding-top: 32%;
}

.sgd-prt .details .txt-title, 
.sgd-prt .details .txt-body{
    text-align: left;
}

.sgd-prt .details .txt-title{
    font-size: 18px;
}

/*}*/

/*Barra media*/
/*{*/
    
.middle-bar{
    background-color: var(--dark-background);
    padding: 40px 40px 10px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    position: relative;
    width: 100%;
}

.middle-bar .txt-title{
    font-size: 35px;
}

.middle-bar button{
    font-size: 12px;
}

/*}*/

