:root{
    --dark-background: #0f0f0f;
    --contenedores: #5a5a5a;
    --decoration: red;
    --text: #cdcdcd;
}

*{
    margin: 0;
    padding: 0;
}

/**/

button{
    background-color: var(--decoration);
    padding: 12px;
    color: var(--text);
    border: none;
    border-radius: 16px !important;
}

nav{
    background-color: var(--contenedores);
    color: var(--text);
    display: flex;
    flex-direction: column;
    position: fixed !important;
    width: 10%;
    height: 100%;
}

nav img{
    align-items: center;
}

.name{
    font-weight: bolder;
    font-size: 18px;
    overflow: auto;
    color: var(--text);
}

.navbar-nav .nav-link{
    color: inherit;
    text-align: center;
    font-size: 12px;
}

nav ul{
    padding-left: 20% !important;
}

/*Primer Contenedor*/

.prm-cont{
    background-color: var(--dark-background);
    color: var(--text);
    height: 790px;
    padding: 280px 400px 320px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prm-cont img{
    position: absolute;
    top: 0;
    padding-left: 10%;
}

.prm-cont .cont-title, 
.prm-cont .txt-title,
.prm-cont .txt-body{
    text-align: center;
}

.prm-cont .cont-title{
    color: var(--decoration);
    font-size: 16px;
}

.prm-cont .txt-title{
    font-size: 50px;
}

.prm-cont .txt-body{
    font-size: 12px;
    padding: auto 100px !important;
}

.prm-cont button{
    width: 15%;
    font-size: 12px;
}